
.container {
    max-width: 100vw;
    margin: 10px auto;
    padding: 10px 30px; /* Agregamos padding solo a los lados */
    text-align: justify;
    background-color: #b1c700;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
  
.title {
    color: #0267AF;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 26px;
    text-align: center; /* Centramos el título */
}
  
.all {
    background-color: white;
    border: 6px solid white;
    padding: 6px;
}
  

  
.linea{
    border: 10px solid aliceblue;
}
  
.text{
    padding: 0px 30px;
    color: #12346e;
    text-align: justify;
}

.title2{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 26px;
    color: #0267AF;
    margin-left: 30px;
}
.semaforo{
    max-width: 40vw;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.green {
    margin-left: 30px;
    background: greenyellow;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 5px solid black;
}
  
.red {
    margin-left: 30px;
    background: red;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 5px solid black;
}
  
.yellow {
    margin-left: 30px;
    background: yellow;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 5px solid black;
}

.background{
    background-image: url("../assets/CVZ 3.jpg");
    background-size: cover;
    background-position: center;
    min-height: 30vw;
    min-width: 100%;
    text-align: left;
    display: flex;
    justify-content: left;

    
    box-shadow: black;
    color: aliceblue;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

.backgroundtext{
    color: aliceblue;
    display: inline-block;
    width: 50%;
    padding-top: 5%;
    padding-left: 5%;
    font-size: 5vw;

}

.btninicio {
    min-width:  100px;
    padding:  15px;
    margin-top:  15px; 
    background-color: white; 
    color:  #12346e; 
    margin-left:  auto; 
    font-weight:  600;  
    border:  none;
    transition:  all .3s ease; 
    outline: 0; 
    margin-bottom:20px;
    width: 45%;
    font-size: medium;
    border-radius: 0px;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.btninicio:hover {
    transform:  translateY(-3px);
    box-shadow:  0 2px 6px -1px rgba(primary, .65);
    background-color: #b1c700;
    color: white;
    cursor: pointer;
  }